Sphinx==1.8.2
bumpversion==0.5.3
coverage==4.5.2
flake8==3.8.4; python_version == "3.4"
flake8==3.9.2; python_version != "3.4"
pip==18.1
pyfakefs==3.5.3
pytest-runner==4.2
pytest==3.8.2
sphinx-rtd-theme==0.4.2
tox==3.5.3
twine==1.12.1
wheel==0.32.3